<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">IBM Cloud Transformation Advisor</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>Chat to us on  <a href="https://slack-invite-ibm-cloud-tech.mybluemix.net">Slack</a> for further help</li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
     
        
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">Copyright IBM© Corporation 2018</p>
    </div>

  </div>
</footer>
